.scroll-playlists {
    display: flex;
    flex-direction: column;
}


.discover2blocks {
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
}


.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex !important;
}

#discoverCaro {
    width: 880px;
    // border-bottom: 2px solid #f2f2f2;
    padding-bottom: 30px;
}

#discoverCaro .songTile {
    margin-right: 40px;
}

.carousel-control-next-icon {
    margin-bottom: 43px;
    background: black no-repeat;
   
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 17px !important;
    height: 17px !important;
    filter: invert(51%) sepia(83%) saturate(1504%) hue-rotate(100deg) brightness(98%) contrast(77%);
    margin: auto !important;
}

.carousel-control-next, .carousel-control-prev {
    top: 78px !important;
    align-items: none !important;
    background: white !important;
    opacity: 100 !important;
    border: solid thin #1DB954 !important;
    height: 35px !important;
    width: 35px !important;
    border-radius: 5px !important;
    
    
}

.carousel-control-next {
    right: 20px !important;
}

.carousel-control-prev {
    left: -20px !important;
}

.discover2blocks h3 {
    margin-top: 20px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-size: 23px;
    font-weight: 100;
}

.discover2blocks p {
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    color: rgb(184, 182, 182);
    font-size: 14px;
}

#discoverCaro .carousel-inner {
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 32px;
}

#discoverCaro #profilePic {
    border-radius: 50%;
    height: 180px;
    width: 180px;
    margin-bottom: 15px;
  
}

#discoverCaro .carousel-indicators {
    display: none !important;
}

.discoverNewUsersBox h1 {
    font-size: 15px;
    color: #333;
    text-decoration: none;
    font-weight: normal;
    
}

.discoverNewUsersBox a:hover {
    text-decoration: none;
    
}

.discoverNewUsersBox {
    padding-right: 41px;
    text-align-last: center;
}

