.libraryNav {
    border-bottom: 2px solid #f2f2f2;
    width: 93.4%;
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    background-color: white;
    padding-top: 14px;
    padding-bottom: 4px;
}


    
    
.libraryContainer ul {
    display: flex;
    list-style-type: none;
}