.media-player-container {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 50px;
    background-color: #f3eded;
    width: 100%;
    border-top: 1px solid #ccc6c6;
    

}

.player-slider {
    position: absolute;
    top: 0px;
    right: 0px;
}

.button-container {
    position: absolute;
    top: 9px;
    left: 0px;
}

.play-button {
    border: none;
}

.artist-info {
    width: 80px;
    height: 50px;
    position: absolute;
    top: 0px;
    right: 450px;
    display: flex;
    flex-direction: row;
}

.artist-small-info {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    height: 40px;
    margin: auto;
}

.song-title {
    margin-top: -14px;
    margin-left: 9px;
}

.artist-name {
    margin-top: -3px;
    margin-left: 9px;
    color: rgb(132, 131, 131);
}


.song-pic {
    margin: auto;
}

// #progress-bar {
//     margin: auto;
//     display: block;
//     width: 700px;
// }

.song-progress-bar-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 50%;
    height: 30px;
    position: relative;
    top: 18%;
}

// .mry {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     height: 1px;
//     padding: 11.5px 0;
//     z-index: 1;
//     cursor: pointer;
// }

.song-bar {
    height: 1px;
    display: flex;
    background-color: rgb(202, 201, 201);
    width: 500px;
    margin: auto;
    cursor: pointer;
}

.song-progress-bar {
    height: 1px;
    align-self: flex-start;
    background-color: #1DB954;
    
    // margin: auto;
    cursor: pointer;
}


.current-time {
    position: relative;
    left: 406px;
    margin-top: 5px;
    font-size: 12px;
}

.end-time {
    position: relative;
    right: 406px;
    font-size: 12px;
    top: 5px;
}



.bar-dot {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #1DB954;
    margin-top: -3px;
}

p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}