.media-player-container {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 50px;
    background-color: #f3eded;
    width: 100%;
    border-top: 1px solid #ccc6c6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100
}

.player-slider {
    position: absolute;
    top: 0px;
    right: 0px;
}

.button-container {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 13px;
    align-items: center;
}

.button-container img {
    margin-left: 13px;
}

.button-container button {
    border: none;
    outline: none;
}

.button-container button:focus {
    border: none;
    outline: none;
}

.play-button {
    margin-bottom: 8px;
}


.artist-info {
    height: 48px;
    margin-left: 59px;
    display: flex;
    flex-direction: row;
    padding-right: 13px;
}

.artist-small-info {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    height: 40px;
    margin: auto;
}

.song-title {
    margin-top: -14px;
    margin-left: 9px;
    width: 117px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0px;
}

.artist-name {
    margin-top: -3px;
    margin-left: 9px;
    color: rgb(132, 131, 131);
}

.song-pic {
    margin: auto;
}

.song-progress-bar-container {
    display: flex;
    margin: auto;
    height: 50px;
    width: 45%;
}

@media (max-width:2000px) {
    .song-progress-bar-container {
    display: flex;
    margin: auto;
    height: 50px;
    width: 85%
    }
}

.song-bar {
    height: 1px;
    display: flex;
    background-color: rgb(202, 201, 201);
    width: 500px;
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
}

.song-progress-bar {
    height: 1px;
    align-self: flex-start;
    background-color: #1DB954;
    cursor: pointer;
}

.current-time {
    font-size: 12px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3px;
    margin-left: 59px;
}

.end-time {
    font-size: 12px;
    font-size: 12px;
    margin: auto;
    margin-left: 3px;
    margin-right: 0px;
}

.bar-dot {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #1DB954;
    margin-top: -3px;
}

p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.audioButton {
    margin: auto;
    margin-left: 57px;
    margin-right: 28px;
}

.heartMedia {
    margin: auto;
    margin-left: 33px;
    margin-right: 13px;
    cursor: pointer;
    align-self: center;
}

#vol {
  -webkit-appearance: none;
  width: 97px;
  height: 3%;
  border-radius: 5px;  
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  cursor: pointer;
  transform: rotate(270deg);
}

#vol::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    background: #1DB954;
    color: #1DB954;
    cursor: pointer; 
}

#volRangeContainer {
    background-color: #f3eded;
    display: flex;
    flex-direction: column;
    top: -118px;
    left: -65px;
    position: relative;
    width: 51px;
    height: 125px;
    border: solid #ccc6c6 thin;
    align-items: center;
    justify-content: center;
}

.heartMedia#greenButton {
    filter: invert(59%) sepia(13%) saturate(2372%) hue-rotate(88deg) brightness(94%) contrast(94%);
    align-self: center;
}