.nav_bar {
    font-size: 18px;
    background-image: linear-gradient( #1d201d 0%, #60665e   100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    height: 50px;
}

.formModal {
    z-index: 998;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background: rgba(0, 0, 0, .3);
}

.signup-modal-button {
    left: 900px;
    height: 60px;
    position: absolute;
    background-color: green;
    color: white;
    
}