
.nav-con {
    position: -webkit-sticky; 
    position: sticky;
    top: 0; 
    z-index: 2;
    height: 45px;
}

.nav_bar {
    font: 100 14px/1.5 Interstate,Lucida Grande,Arial,sans-serif;
    font-size: 14px;
    background-color: #333;
    // border: 1px solid rgba(0, 0, 0, 0.2);
    height: 45px;
    width: 100%;
    display: block;
   
}

.nav_bar_background {
    font: 100 14px/1.5 Interstate,Lucida Grande,Arial,sans-serif;
    font-size: 14px;
    background-color: #333;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 46px;
    width: 100%;
    display: block;
    position: fixed;
    z-index: 1;

}

.nav_buttons_container {
    width: 45%;
    height: 46px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}



.left_nav {
    position: absolute; 
    left: 0px;
    height: 46px;
    display: flex;
    flex-direction: row;
    
}

@media (max-width:2000px) {
    .left_nav {
    height: 46px;
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: 0 auto;
    }
}

.nav-logo {
    height: 46px;
}

.home-button {
    display: block;
    padding: 12px 0;
    width: 104px;
    height: 45px;
    border-right: 1px solid #111;
    box-sizing: border-box;
    text-align: center;
    background-color: #333;
    color: #ccc !important;
    cursor: pointer;
}

.library-button {
    display: block;
    padding: 12px 0;
    width: 104px;
    height: 45px;
    border-right: 1px solid #111;
    box-sizing: border-box;
    text-align: center;
    background-color: #333;
    color: #ccc !important;
    cursor: pointer;
}

.upload-button {
    display: block;
    // padding: 12px 0;
    margin-left: 20px;
    width: 50px;
    height: 30px;
    border: none;
    box-sizing: border-box;
    text-align: center;
    background-color: #333;
    color: #ccc !important;
    cursor: pointer;
}


.right_nav {
    position: absolute;
    right: 0px;
    padding: 9px;
    height: 46px;
    display: flex;
    flex-direction: row;
    // float: left;
    // padding: 9px 10px 10px;
}

.formModal {
    z-index: 998;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background: rgba(0, 0, 0, .3);
}

.signup-modal-button {
    // left: 900px;
    // height: 60px;
    // position: absolute;
   

    display: inline-block;
    position: relative;
    height: 30px;
    font-weight: 100;
    margin: 0 0 0 12px;
    padding: 2px 16px;
    
    border: 1px solid #1DB954;
    border-radius: 3px;
    background-color: #1DB954;
    cursor: pointer;
    color: #fff !important;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    text-align: center;
    vertical-align: baseline;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    box-sizing: border-box;
    
}

.login-modal-button {
    display: inline-block;
    position: relative;
    height: 30px;
    margin: 0;
    padding: 2px 11px 2px 10px;
    border: 1px solid #333;
    border-radius: 3px;
    border-color: #666;
    background-color: transparent;
    cursor: pointer;
    color: #fff !important;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    text-align: center;
    vertical-align: baseline;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    box-sizing: border-box;
}




.song_nav_bar {
    border-bottom: 2px solid #f2f2f2;
    width: 93.4%;
    margin: auto;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    background-color: white;
    padding-top: 14px;
    padding-bottom: 4px;
   
}

.all-songs-button {
    cursor: pointer;
    display: block;
    color: black;
    margin-right: 22px;
    background-color: white;
}

.popular-songs-button {
    cursor: pointer;
    display: block;
    color: black;
    margin-right: 22px;
    background-color: white;
}

.albums-button {
    cursor: pointer;
    display: block;
    color: black;
    margin-right: 22px;
    background-color: white;
}

