.outtermost {
    padding: 0 30px;
    width: 45%;
    margin: 0 auto;
    display: block;
    // padding: 0 30px;
    // width: 47%;
    // margin: 0 auto;
    // display: block;
    // height: 1000px;
    background-color: gray;
}

.cover {
    background-color: red;
    width: 100%;
    display: block;
    position: relative;
    
    
}

.profile-songs {
    width: 100%;
    color: red;
    margin: auto;
    position: relative;
}