.outtermost {
    width: 45%;
    margin: 0 auto;
    display: block;
    z-index: 9;
    background-color: white;
}


@media (max-width:2000px) {
    .outtermost {
        width: 85%;
        margin: 0 auto;
        display: block;
        background-color: white;
        z-index: 9;
       
    }
}

.cover {
    background-color: grey;
    width: 100%;
    display: block;
    height: 260px;
    position: relative;
}

.profile-songs {
    width: 100%;
    color: red;
    margin-top: 20px;
}

.cover-photo {
    width: 100%;
    height: 100%;
    position: absolute;
}

.profile-box {
    width: 210px;
    height: 210px;
    display: block;
    position: absolute;
    top: 24px;
    left: 24px;
}

.profile-photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.info-basic {
    position: absolute;
    left: 300px;
    top: 50px;
   
    
}

.nameplate {
    color: #fff !important;
    background-color: rgba(0,0,0,.8);
    padding: 5px;
    font-size: 24px;
    
}

.location-plate {
    color: #fff !important;
    background-color: rgba(0,0,0,.8);
}

.profile-songs ul {
    list-style-type: none;
}



.songProfileTile {
    margin-bottom: 45px;
    justify-content: flex-start;
    display: flex;
}



.songProfileTile .play {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: #1DB954;
    background-color: #1DB954;
    text-indent: -9999px;
    background-image: url('arrow.png');
    background-size: 70% 80%;
    background-position: 40%;
    background-repeat: no-repeat;
    margin-top: 3px;
}

.songProfileTile .songTitle {
    font-size: 16px;
    font-weight: 350;
    color: #333;
}

.songProfileTile .songUser {
    font-weight: 100;
    color: #999;
    font-size: 13px;
    margin-bottom: 4px;
}

.waveFormImg {
   margin-top: 7px;
   position: absolute;
}

.progressWaveFormImg {
    margin-top: 7px;
    filter: invert(51%) sepia(83%) saturate(1504%) hue-rotate(100deg) brightness(98%) contrast(77%);
}

.profile-song-info {
    display: flex;
}

.profile-song-names-plate {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    height: 44px;
}

.songProfileTileContainer {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
}


.progressWaveFormContainer {
    overflow: hidden;
}

.songProgressTimer {
    background: black;
    color: #1DB954;
    width: 21px;
    font-size: 11px;
    position: relative;
    top: 63px;
    z-index: 99;
}

.songEndTimer {
    background: black;
    color: #999;
    width: 21px;
    font-size: 11px;
    position: relative;
    top: 47px;
    left: 659px;
    z-index: 99;
    
}

#recent {
    margin-top: 10px;
    margin-left: 38px;
    font-size: 23px;

}







