.outtermost {
    width: 45%;
    margin: 0 auto;
    display: block;
    z-index: 9;
    background-color: white;
    overflow: hidden;
}


@media (max-width:2000px) {
    .outtermost {
        width: 85%;
        margin: 0 auto;
        display: block;
        background-color: white;
        z-index: 9;
       
    }
}

.cover {
    background-color: grey;
    width: 100%;
    display: flex;
    height: 260px;
    position: relative;
    justify-content: space-between;
}

.profile-songs {
    width: 100%;
    color: red;
    margin-top: 20px;
}

.cover-photo {
    width: 100%;
    height: 100%;
    position: absolute;
}

.profile-box {
    width: 210px;
    height: 210px;
    display: flex;
    position: relative;
    top: 24px;
    left: 24px;
}

.profile-photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.info-basic {
    position: relative;
    margin-left: 42px;
    display: flex;
    height: fit-content;
    
}

.nameplate {
    color: #fff !important;
    background-color: rgba(0,0,0,.8);
    padding: 5px;
    font-size: 24px;
    align-self: baseline;
    
}

.location-plate {
    color: #fff !important;
    background-color: rgba(0,0,0,.8);
}

.profile-songs ul {
    list-style-type: none;
}



.songProfileTile {
    margin-bottom: 45px;
    justify-content: flex-start;
    display: flex;
    
}



.songProfileTile .play {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: #1DB954;
    background-color: #1DB954;
    text-indent: -9999px;
    background-image: url('arrow.png');
    background-size: 70% 80%;
    background-position: 40%;
    background-repeat: no-repeat;
    margin-top: 3px;
}

.songProfileTile .songTitle {
    font-size: 16px;
    font-weight: 350;
    color: #333;
}

.songProfileTile .songUser {
    font-weight: 100;
    color: #999;
    font-size: 13px;
    margin-bottom: 4px;
}

.waveFormImg {
   margin-top: 7px;
   position: absolute;
}

.progressWaveFormImg {
    margin-top: 7px;
    filter: invert(51%) sepia(83%) saturate(1504%) hue-rotate(100deg) brightness(98%) contrast(77%);
}

.profile-song-info {
    display: flex;
    width: 680px;
}

.profile-song-names-plate {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    height: 44px;
}

.songProfileTileContainer {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
 
}


.progressWaveFormContainer {
    overflow: hidden;
}

.songProgressTimer {
    background: black;
    color: #1DB954;
    width: 21px;
    font-size: 11px;
    position: relative;
    top: -54px;
    z-index: 99;
}

.songEndTimer {
    background: black;
    color: #999;
    width: 21px;
    font-size: 11px;
    position: relative;
    top: -70px;
    left: 659px;
    z-index: 99;
    
}

#recent {
    margin-top: 10px;
    margin-left: 38px;
    font-size: 23px;

}


.likeButton {
    border: solid thin lightgrey;
    border-radius: 4px;
    height: 20px;
    font-size: 15px;
    max-width: fit-content;
    display: flex;
    align-items: center;
    color: #2f2f2f !important;
    padding-right: 7px;
    padding-left: 7px;
    position: relative;
}

.likeButton img {
    margin-right: 5px;
}

.likeButton#greenButton {
    border: solid thin #1DB954;
    color: #1DB954 !important;
}

.likeButton#greenButton img {
    filter: invert(59%) sepia(13%) saturate(2372%) hue-rotate(88deg) brightness(94%) contrast(94%);
}

.dateCreation,  .genreContainer {
    color: #999;
}

.tagGenreContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 14px;
}

.genreContainer {
    background: #999;
    color: white;
    border-radius: 8px;
    max-width: fit-content;
    padding: 3px 5px 4px 5px;
    font-size: 13px;
    white-space: nowrap;
}



.profile-song-info {
    justify-content: space-between;
}

.playNameContainer {
    display: flex;
}


.cover-pic-upload-button {
    position: relative;
    align-self: center;
    bottom: 89px;
    right: 27px;
    border-radius: 3px;
    border: none;
}

.profille-pic-upload-button {
    position: relative;
    bottom: 52px;
    left: 70px;
    border-radius: 3px;
    border: none;
}

.profile-pic-cancelConfirm {
    display: flex;
    position: relative;
    bottom: 52px;
    left: 50px;
    justify-content: space-around;
    width: 157px;
}

.profile-pic-cancelConfirm button {
    border-radius: 3px;
    border: none;
}

.profile-pic-cancelConfirm #profile-confirm {
    background-color: #1DB954;
    color: white;
}


.cover-pic-cancelConfirm {
    position: relative;
    align-self: center;
    bottom: 89px;
    right: 27px;
    justify-content: space-around;
    display: flex;
    width: 147px;
}


.cover-pic-cancelConfirm button {
    border-radius: 3px;
    border: none;
}


.cover-pic-cancelConfirm #cover-confirm {
    background-color: #1DB954;
    color: white;
}