ul.options {
    display: block;
    list-style: none;
    padding-inline-start: 0px !important;
    transition: width 0.3s;
    margin: auto;
    position: relative;
  }
  
  ul.options li {
    display: block;
    background: black;
    margin: 10px auto;
    padding: 10px;
    font-size: 1.2rem;
    width: 100%;
    border-radius: 2px;
    color: #fff;
    
  }
  ul.options li:hover {
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: 0.3s all;
    background-color: #333;
  }
  
  ul.options li.option-active {
    background: #333;
    font-size: 1.5rem;
    color: #fff;
  }

.searchBar {
    height: 29px;
    width: 35%;
    z-index: 900;
    position: relative;
    top: -37px;
    left: 403px;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    border:none; 
}

.options-drop {
    background-color: black;
    width: 36.5%;
    margin: auto;
    position: relative;
    top: -40px;
}