ul.options {
    display: block;
    list-style: none;
    padding-inline-start: 0px !important;
    transition: width 0.3s;
    margin: auto;
    position: relative;
    box-sizing: content-box;
  }
  
  ul.options li {
    display: block;
    background: black;
    padding: 10px;
    font-size: 13px;
    width: 100%;
    color: #fff;
    height: 19px;
    box-sizing: content-box;
    
  }
  ul.options li:hover {
    color: #fff;
    cursor: pointer;
    transition: 0.3s all;
    
  }
  
  ul.options li.option-active {
    background: #333;
    color: #fff;
  }

.searchBar {
    height: 29px;
    width: 35%;
    z-index: 900;
    position: relative;
    top: -37px;
    left: 403px;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    border:none; 
    background-color: #f3eded;
    outline: none;
   
}

.options-drop {
    background-color: black;
    width: 34.5%;
    margin: auto;
    position: relative;
    top: -29px;
    left: -12px;
}


.search-button {
  border: none;
  position: relative;
  top: -38px;
  left: 372px;
  z-index: 901;
  outline: none !important;
}

