.searchHeader {
    width: 100%;
    border-bottom: lightgrey solid thin;
    padding-top: 37px;

}

.mainSearchSplit {
    display: flex;
    width: 100%;
    background-color: blue;
    margin-top: 40px;

}

.searchLeftSideBar {
    width: 23%;
    height: 200px;
    background-color: red;
    border-bottom: grey solid thin;
}


.filteredUsers #profilePic {
    border-radius: 50%;
    height: 180px;
    width: 180px;
    margin-bottom: 15px;
}

.filteredUsers {
    padding-right: 41px;
    text-align-last: center;

}

.optionsArray {
    list-style-type: none;
    
}