.searchHeader {
    width: 100%;
    border-bottom: gray solid thin;
}

.mainSearchSplit {
    display: flex;
    width: 100%;
    background-color: blue;
    margin-top: 40px;

}

.searchLeftSideBar {
    width: 23%;
    height: 200px;
    background-color: red;
    border-bottom: grey solid thin;
}

// .searchResultMain {

// }